{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
    <div class="centered-container">
        <h2>Login to Your Account</h2>

        {% if messages %}
            <div class="message-container">
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% comment %} <!----> form and sign-up link inside a single container --> {% endcomment %}
        <div class="cta-section">
            <form method="post" class="login-form">
                {% csrf_token %}
                <div class="input-group">
                    <label for="username">Email:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="btn">Login</button>
            </form>

            <p class="signup-link">Don't have an account? <a href="{% url 'register' %}" class="btn">Create Account</a></p>
        </div>
        <div class="login-links">
            <p><a href="{% url 'home' %}">Go back to Home</a></p>
        </div>
    </div>
{% endblock content %}
