{% extends 'base.html' %}

{% block content %}
<!-- The Modal for logout -->
<div id="logoutModal" class="modal">
    <div class="modal-container">
        <div class="modal-content">
            <h2>Are you sure you want to log out?</h2>
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn logout-btn">Yes</button>
            </form>
            
            <button onclick="redirectToProfile()" class="btn cancel-btn">No</button>
        </div>
    </div>
</div>


<a href="#" onclick="showModal()" class="btn show-modal-btn">Logout</a>

{% endblock %}

<script>
    function showModal() {
        document.getElementById('logoutModal').style.display = 'flex';
    }

   
    function hideModal() {
        document.getElementById('logoutModal').style.display = 'none';
    }

    function redirectToProfile() {
        window.location.href = "{% url 'profile' %}"; 
    }
</script>
