{% extends 'base.html' %}

{% block content %}
{% if messages %}
    <ul class="message-list">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<h2 class="page-title">Blog Posts</h2>
{% for user, posts in user_posts.items %}
    <div class="user-container">
        <h3 class="user-title">{{ user.username }}'s Blog Posts</h3>

        <!-- showing each post-->
        {% for post in posts %}
            <div class="post-item">
                <h4 class="post-title">{{ post.title }}</h4>
                <p class="post-author">By <a href="{% url 'profile_view' username=post.author.username %}" class="author-link">{{ post.author.username }}</a></p>
                <p class="post-content">{{ post.content }}</p>

                <!-- Show Delete button for treyor superuser -->
                {% if user.email == 'treyshel@gmail.com' or user.is_superuser %}
                    <a href="{% url 'delete_post_confirmation' post.pk %}" class="delete-post-btn" onclick="return confirm('Are you sure you want to delete this post?')">Delete Post</a>
                {% endif %}
            </div>
        {% empty %}
            <p class="no-posts-message">No posts available.</p>
        {% endfor %}
    </div>
{% endfor %}

<div class="create-post-btn">
    <a href="{% url 'create_post' %}">
        <button>Create a New Post</button>
    </a>
</div>
<div class="logout-btn">
    <a href="{% url 'logout_confirmation' %}">
        <button>Logout</button>
    </a>
</div>
<div class="pagination">
    {% if posts.has_previous %}
        <a href="?page=1">&laquo; First</a>
        <a href="?page={{ posts.previous_page_number }}">Previous</a>
    {% endif %}

    <span>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>

    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">Next</a>
        <a href="?page={{ posts.paginator.num_pages }}">Last &raquo;</a>
    {% endif %}
</div>

{% endblock %}
